---
layout: default
title: Visualize
permalink: /visualize/
---

{% include wrap.html %}

<!--<div class="container mtb" style="width:100%; height:400px;margin-top:0;margin-bottom:0;background-image: url('{{ site.visualize_img }}'); background-repeat:no-repeat; background-size: cover;background-position:center bottom;" >
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            </br></br></br></br>
            <h2>{{ site.visualize_description }}</h2>
            <div class="hline"></div>
        </div>
    </div>
</div>-->

<div class="container mtb" >
    <div class="row">
        <div class="col-md-6">
        	<h5 class="content-title">{{ site.visualize_title }}</h5>
            {% for visualize_description in site.visualize_descriptions %}
             <ul>
             <li>{{ visualize_description.bullet }}</li>
            </ul>
            {% endfor %}
        </div>
        <div class="col-md-6">
        	<img src="{{ site.visualize_img }}">
        </div>
        </div>
    </div>
</div>