      </section>
      
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap2" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>
    
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <center><p class="copyright" id="contact"><strong>CONTACT </strong></p>
        <p id="addy">{% include contact_us %}</p></center>
      </footer>
    </div>

    

  </body>
</html>