<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Website : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>GovWizely</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="https://github.com/ajsingh273/website">View on GitHub</a>-->

         <center><h1 id="project_title"><a href=""><img  src="images/logo.png" width="350px" ></a></h1></center></br>
          <center><h2 id="project_tagline">{% include tagline %}</h2></center>

            <section id="downloads">
              <!--<a class="tar_download_link" href="https://github.com/ajsingh273/website/tarball/master">Download this project as a tar.gz file</a>-->
            </section>
        </header>
    </div>
    
    <nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#opensource">Open Source</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="/website/jobs.html">Jobs</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<h3>
<a name="designer-templates" class="anchor" href="#designer-templates"><span class="octicon octicon-link" id="services"></span></a>Services</h3>


<table>
<tr>
<td><p>Pre-Project Planning</p>
<p>{% include pre_project_planning %}</p></td>
<td><p>Product Development</p>
<p>{% include product_development %}</p></td>
</tr>
<tr>
<td><p>Product Launch</p>
<p>{% include product_launch %}</p></td>
<td><p>Post-Launch Support</p>
<p>{% include post_launch_support %}</p></td>
</tr>
</table>
<h3>
</section>

    <div id="footer_wrap4" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>

<section id="main_content" class="inner">
<h3>
<a name="rather-drive-stick" class="anchor" href="#rather-drive-stick"><span class="octicon octicon-link" id="opensource"></span></a>Open Source</h3>

<p>{% include open_source %}</p>
<h3>
</section>

    <div id="footer_wrap3" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>

<section id="main_content" class="inner">
<h3>
<a name="rather-drive-stick" class="anchor" href="#rather-drive-stick"><span class="octicon octicon-link" id="about"></span></a>About</h3>

<p>{% include aboutus %}</p>

<h3>
