

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<h2>
<a name="designer-templates" class="anchor" href="#designer-templates"><span class="octicon octicon-link" id="services"></span></a><center>SERVICES</center></h2>


<table>
<tr>
<td><p>{% include pre_project_planning %}</p></td>
<td><p>{% include product_development %}</p></td>
</tr>
<tr>
<td><p>{% include product_launch %}</p></td>
<td><p>{% include post_launch_support %}</p></td>
</tr>
</table>
<h3>
</section>

    <div id="footer_wrap4" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>

<section id="main_content" class="inner">
<h2>
<a name="rather-drive-stick" class="anchor" href="#rather-drive-stick"><span class="octicon octicon-link" id="opensource"></span></a><center>OPEN SOURCE</center></h2>

<p>{% include open_source %}</p>
<table>
<tr>
<td><p>{% include open-source-big-data %}</p></td>
<td><p>{% include open-source-search %}</p></td>
</tr>
<tr>
<td><p>{% include open-source-ruby %}</p></td>
<td><p>{% include web-publishing %}</p></td>
</tr>
<td><p>{% include open-source-saas %}</p></td>
<tr>
</tr>
</table>

<h3>
</section>

    <div id="footer_wrap3" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>

<section id="main_content" class="inner">
<h2>
<a name="rather-drive-stick" class="anchor" href="#rather-drive-stick"><span class="octicon octicon-link" id="about"></span></a><center>ABOUT</center></h2>

<p>{% include about_us %}</p>

<h3>
