<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Website : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Website</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap2" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="https://github.com/ajsingh273/website">View on GitHub</a>-->

         <h1 id="project_title"><a href="http://govwizely.github.io/website/"><img  src="images/logo.png" width="200px" ></a></h1>

        </header>
    </div>
    
    <nav>
  <ul>
    <li><a href="http://govwizely.github.io/website/">Home</a></li>
    <li><a href="/#services">Services</a></li>
    <li><a href="/#opensource">Open Source</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/website/jobs.html">Jobs</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
</nav>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

<div id="jobs">
