	<!-- ==============================================
	PRELOADER
	=============================================== -->
	<div id="preloader">
    	<ul id="loader">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div> <!-- End Preloader -->

	<!-- ==============================================
	IMAGE REPLACEMENT IN MOBILE AND TABLETS DEVICES
	=============================================== -->
	<div id="bgimg"></div>




	<!-- ==============================================
	BODY CONTENT
	=============================================== -->
	<div id="map"></div>
    <div id="image-poster"></div>
    <div class="slideshow-pattern"></div>

   <div class="main_div">

	    <div class="messages">
			<h2 id="message1">We are <strong>creative</strong> people</h2>
			<h2 id="message2">We <strong>love</strong> what we do</h2>
			<h2 id="message3">We <strong>build</strong> websites</h2>
		</div>


	</div>



	<a id="bgndVideo"  data-property="{videoURL:'https://www.youtube.com/watch?v=o8KCHR00wQs',containment:'body',autoPlay:true, mute:false, startAt:0,opacity:1,ratio:'16/9', addRaster:true}">My video</a>
